body {
    background-color: #ddd;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

main {
    line-height: 1.5;
    width: 60%;
    margin: auto;
    padding: 2%;
    background-color: white;
    color: #444;
}

h1, h2 {
    color: rgb(146, 76, 8);
}

#perfil {
    width: 120;
    height: 120;
}
